# app dependencies
# fastapi
fastapi[standard]==0.115.8
python-multipart==0.0.20
uvicorn[standard]==0.34.0

# external apis
httpx==0.28.1

# db
sqlalchemy[asyncio]==2.0.38
asyncpg==0.30.0

# utils
unidecode==1.3.8
pydantic-settings==2.7.1
python-dotenv==1.0.1

# hashing content
xxhash==3.5.0

# vector store
lancedb==0.19.0
pyarrow-stubs==17.16

# parsing
docling==2.22.0

# minIO
minio==7.2.15

# guess file type extension
filetype==1.2.0

# dev dependencies
pytest==8.3.4
pytest-asyncio==0.25.3
black==25.1.0
pyright==1.1.394
ruff==0.9.6
testcontainers[postgres,minio]==4.9.1
pur==7.3.3

# to get uuid V1 (faster in DB)
uuid-utils==0.10.0
