# app dependencies
# fastapi
fastapi[standard]==0.115.12
python-multipart==0.0.20
uvicorn[standard]==0.34.2

# external apis
httpx==0.28.1

# db
sqlalchemy[asyncio]==2.0.40
asyncpg==0.30.0

# utils
unidecode==1.4.0
pydantic-settings==2.9.1
python-dotenv==1.1.0

# hashing content
xxhash==3.5.0

# vector store
lancedb==0.22.0
pyarrow-stubs==19.3

# parsing
docling==2.31.0

# minIO
minio==7.2.15

# guess file type extension
filetype==1.2.0

# dev dependencies
pytest==8.3.5
black==25.1.0
pyright==1.1.400
ruff==0.11.9
testcontainers[postgres,minio]==4.10.0
pur==7.3.3
anyio==4.9.0

# to get uuid V1 (faster in DB)
uuid-utils==0.10.0

# llm, embedding
litellm==1.68.2
