# app dependencies
# fastapi
fastapi[standard]==0.115.5
python-multipart==0.0.17
uvicorn[standard]==0.32.1

# external apis
httpx==0.28.1

# db
sqlalchemy[asyncio]==2.0.36
asyncpg==0.30.0

# utils
unidecode==1.3.6
pydantic-settings==2.6.1
python-dotenv==1.0.1

# crawling
watchfiles==0.24.0

# vector store
lancedb==0.16.0

# parsing
docling==2.7.0

# minIO
minio==7.2.12

# dev dependencies
pytest==8.3.3
pytest-asyncio==0.24.0
black==24.10.0
pyright==1.1.389
ruff==0.8.1